{% extends 'base.html' %}
{% block title %} Add Product {% endblock title %}
<!-- Left Panel -->

{% block content %}
    <h3 class="row justify-content-center align-items-center" style="padding-bottom: 2%; background-color: inherit">Add
        Product</h3>
    <div class="row justify-content-center align-items-center">


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">


                        <label class="form-label">Category</label>
                        <input type="text" class="form-control item" id="category" name="category" required>

                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">

                        <label class="form-label">Item Name</label>
                        <input type="text" class="form-control item" id="item_name" name="item_name" required>
                    </div>
                </div>
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">

                <label class="form-label">Quantity</label>
                <input type="number" id="quantity" name="quantity" class="form-control" required>
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">

                <label class="form-label">Received by</label>
                <input type="text" id="receive_by" name="receive_by" class="form-control" required>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">

                <label class="form-label">Price IN</label>
                <input type="number" id="price_in" name="price_in" class="form-control" required>
            </div>

            <div class="form-outline mb-4">

                <label class="form-label">Price OUT</label>
                <input type="number" id="price_out" name="price_out" class="form-control" required>
            </div>

            <!-- Number input -->


            <!-- Message input -->
            <div class="form-outline mb-4">

                <label class="form-label">Last Update</label>
                <input type="date" class="form-control" id="last_update" name="last_update" required>
            </div>


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Add Product</button>
        </form>
    </div>

{% endblock content %}
<script>
    (function ($) {
        "use strict";

        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#1de9b6', '#03a9f5'],
            normalizeFunction: 'polynomial'
        });
    })(jQuery);
</script>


</html>
